body{
    background-color: pink;
}
h2{
    text-align: center;
    background: black;
    color: white;
}
.post{
    margin: 20px;
    border-radius: 10px;
}
.post img{
    margin: 20px;
}
.post-info{
    color: blueviolet;
}
img{
    background-color: red;
}
#menu1{
    content: " ";
    display: block;
    height: 60px;
    width: 100%;
    z-index: 10;
}
#menu1 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}
#menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0px;
    clear: both;
    content: " ";
}
#menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;

    box-sizing: border-box;
    color: rgb(68, 6, 154);
}
#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}
#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: #9104b1;
}
#menu1 ul li:hover ul{
    display: block;
}
#menu1 ul li ul li{
    float: none;
    width: 100%;
}
#menu1 ul li ul li a{
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ffffff;
    color: rgb(255, 255, 255);
}
#menu1 ul li ul li:first-child a{
    border-top: 0px;
}
.first{
    background: black;
    display: flex;}
.t1{
    margin: 10px;
    background: white;
    flex: 20%;
}
.t2{
    margin: 10px;
    background: rgb(65, 8, 8);
    flex: 80%;
    
}
.t3{
    margin: 10px;
    background: rgb(255, 255, 255);
    flex: 20%;}
.t4{
        margin: 10px;
        background: rgb(156, 54, 114);
        flex: 80%;}